.bg{
	background:red;
	display:inline-block;
	width:200px;
	height:200px;
}

#mount {
	position: absolute;
	left:0;
	top:0;
	height:100%;
	width:100%;
}

p{
	margin:0;
}

.MarginLest{
	margin-left: 40px
}